

body
{
	font-family: monospace;
	background: gold;
	border-style: groove;
	border-width: 10px
}/*body*/

h1
{
	color: silver;
	text-align: center;
}/*h1*/

h2
{
	text-align: center;
	background: silver;
	border-style: groove;
	border-width: 10px;
	margin: 0% 35%;
}/*h2*/

img
{
	display: block;
    margin-left: auto;
    margin-right: auto; 
	border-style: groove;
	border-width: 10px;
}/*img*/
	
p
{
	padding: 10px;
	background: silver;
	border-style: groove;
	border-width: 10px
}/*p*/
	
		