body
{
	background-color: silver;
	border: dotted gray;
	margin: 5% 5% 10% 5%;
	padding: 5%;
}/*body*/
h1
{
	font-family: fantasy;
	color: green;
}/*h1*/

h2
{
	font-family: sans-serif;
	background-color: black;
	color: white;
	border: gold double
}/*h2*/
p
{
	border: gray groove;
}/*body*/